# Ignore Python virtual environments
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Django migrations cache
**/migrations/__pycache__/

# Ignore environment variables
.env

# Ignore VS Code settings
.vscode/

# IDE/editor files
.vscode/
*.swp
*.sublime-workspace
*.sublime-project

# Django database
db.sqlite3
   
# OS files
.DS_Store
Thumbs.db