{% extends "todo/base.html" %}
{% block title %}Add Task{% endblock %}
{% block content %}
    <div class="centered-form-viewport">
        <div class="task-container task-form-container">
            <h1 class="mb-4 text-center">Add a New Task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn-custom btn-accent-custom">Add Task</button>
                    <a href="{% url 'list_overview' %}" class="btn-custom btn-primary-custom">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
