{% extends 'todo/base.html' %}
{% block content %}
<div class="centered-form-viewport">
    <div class="task-container task-form-container">
        <h2 class="mb-4 text-center">Create New List</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn-custom btn-accent-custom">Create</button>
                <a href="{% url 'list_overview' %}" class="btn-custom btn-primary-custom">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
